{
  "plugins": ["jest", "cypress", "promise"],
  "extends": [
    "eslint:recommended",
    "plugin:vue/recommended",
    "standard",
    // "plugin:promise/recommended",
    // "plugin:cypress/recommended",
    // "plugin:import/recommended",
    // "plugin:jest/recommended",
    "plugin:vuetify/base",
    "plugin:prettier/recommended",
  ],
  "rules": {
    "prettier/prettier": [
      "error",
      {
        "endOfLine": "auto",
      },
    ],
  },
  "overrides": [
    {
      "files": ["tests/unit/**/*.spec.js"],
      "env": {
        "jest": true,
      },
      "globals": {
        "mount": "readonly",
        "shallowMount": "readonly",
        "createLocalVue": "readonly",
        "Vue": "readonly",
        "Vuex": "readonly",
        "Vuetify": "readonly",
        "VueRouter": "readonly",
        "VueCookies": "readonly",
        "BrowserSupportPlugin": "readonly",
        "regeneratorRuntime": "readonly",
      },
    },
    {
      "files": ["tests/e2e/**/*.js"],
      "env": {
        "cypress/globals": true,
      },
    },
  ],
  "parserOptions": {
    "sourceType": "module",
  },
}
