{
  "plugins": ["jest", "cypress"],
  "extends": [
    "plugin:vue/recommended",
    "standard"
  ],
  "rules": {
    "vue/max-attributes-per-line": [
      "error",
      {
        "singleline": 5,
        "multiline": 1
      }
    ],
    "semi": [
      2,
      "always",
      {
        "omitLastInOneLineBlock": true
      }
    ],
    "no-var": 0,
    "prefer-const": 1,
    "vue/multi-word-component-names": 0,
    "vue/no-useless-template-attributes": 0
  },
  "overrides": [
    {
      "files": [
        "tests/unit/**/*.spec.js"
      ],
      "env": {
        "jest": true
      },
      "globals": {
        "mount": "readonly",
        "shallowMount": "readonly",
        "createLocalVue": "readonly",
        "Vue": "readonly",
        "Vuex": "readonly",
        "Vuetify": "readonly",
        "VueRouter": "readonly",
        "VueCookies": "readonly",
        "BrowserSupportPlugin": "readonly",
        "regeneratorRuntime": "readonly"
      }
    },
    {
      "files": [
        "tests/e2e/**/*.js"
      ],
      "env": {
          "cypress/globals": true
      }
    }
  ]
}
