/* Colors obtained from   
https://github.com/venkatesh-sivaraman/fireroad-server/blob/develop/requirements/static/requirements/css/req_preview.css
*/

.course-none {
  background-color: #999 !important;
}

.course-1 { background-color: #D10D23 !important; }
.course-2 { background-color: #F16024 !important; }
.course-3 { background-color: #2816CD !important; }
.course-4 { background-color: #BDE788 !important; }
.course-5 { background-color: #9EABD0 !important; }
.course-6 { background-color: #499EDA !important; }
.course-7 { background-color: #4365A2 !important; }
.course-8 { background-color: #7A36BF !important; }
.course-9 { background-color: #482C7D !important; }
.course-10 { background-color: #C96B52 !important; }
.course-11 { background-color: #81235B !important; }
.course-12 { background-color: #4BCB4A !important; }
.course-14 { background-color: #F5A623 !important; }
.course-15 { background-color: #A40052 !important; }
.course-16 { background-color: #7BE1F0 !important; }
.course-17 { background-color: #C80DB9 !important; }
.course-18 { background-color: #13007D !important; }
.course-20 { background-color: #64A518 !important; }
.course-21 { background-color: #A18CD3 !important; }
.course-21A { background-color: #9162D0 !important; }
.course-21G { background-color: #764E8D !important; }
.course-21H { background-color: #B560C3 !important; }
.course-21L { background-color: #D574D7 !important; }
.course-21M { background-color: #F1A7E5 !important; }
.course-21W { background-color: #D16CA4 !important; }
.course-22 { background-color: #734954 !important; }
.course-24 { background-color: #4d007B !important; }
.course-CC { background-color: #398486 !important; }
.course-CMS { background-color: #8AAFB1 !important; }
.course-CSB { background-color: #F5889C !important; }
.course-EC { background-color: #8B1D17 !important; }
.course-EM { background-color: #E1D059 !important; }
.course-ES { background-color: #B0B02E !important; }
.course-HST { background-color: #90CDD0 !important; }
.course-IDS { background-color: #8ABD6D !important; }
.course-MAS { background-color: #64696D !important; }
.course-SCM { background-color: #152348 !important; }
.course-STS { background-color: #155410 !important; }
.course-WGS { background-color: #44CF9D !important; }
.course-SP { background-color: #F4DC26 !important; }
.course-SWE { background-color: #B82165 !important; }
.course-AS { background-color: #B0B0B0 !important; }
.course-MS { background-color: #B0B0B0 !important; }
.course-NS { background-color: #B0B0B0 !important; }

.generic-GIR {
  background-color: #bf6139 !important;
}
.generic-HASS {
  background-color: #39bf97 !important;
}
.generic-HASS-A {
  background-color: #3997bf !important;
}
.generic-HASS-H {
  background-color: #3946bf !important;
}
.generic-HASS-S {
  background-color: #7c39bf !important;
}
.generic-CI-H {
  background-color: #bf39b1 !important;
}
.generic-CI-HW {
  background-color: #bf3961 !important;
}

/* Custom Classes from https://github.com/venkatesh-sivaraman/FireRoad-Android/blob/cdb736aa1c77f6cb07e5bbb884e2482ce008e5be/app/src/main/java/com/base12innovations/android/fireroad/models/course/ColorManager.java */

.custom_color-0 {
  background-color: #b55757 !important;
}
.custom_color-1 {
  background-color: #b58657 !important;
}
.custom_color-2 {
  background-color: #b5b557 !important;
}
.custom_color-3 {
  background-color: #86b557 !important;
}
.custom_color-4 {
  background-color: #57b557 !important;
}
.custom_color-5 {
  background-color: #57b586 !important;
}
.custom_color-6 {
  background-color: #de4343 !important;
}
.custom_color-7 {
  background-color: #de9043 !important;
}
.custom_color-8 {
  background-color: #dede43 !important;
}
.custom_color-9 {
  background-color: #90de43 !important;
}
.custom_color-10 {
  background-color: #43de43 !important;
}
.custom_color-11 {
  background-color: #43de90 !important;
}
.custom_color-12 {
  background-color: #b51616 !important;
}
.custom_color-13 {
  background-color: #b56516 !important;
}
.custom_color-14 {
  background-color: #b5b516 !important;
}
.custom_color-15 {
  background-color: #65b516 !important;
}
.custom_color-16 {
  background-color: #16b516 !important;
}
.custom_color-17 {
  background-color: #16b565 !important;
}

.custom_color-18 {
  background-color: #57b5b5 !important;
}
.custom_color-19 {
  background-color: #5786b5 !important;
}
.custom_color-20 {
  background-color: #5757b5 !important;
}
.custom_color-21 {
  background-color: #8657b5 !important;
}
.custom_color-22 {
  background-color: #b557b5 !important;
}
.custom_color-23 {
  background-color: #b55786 !important;
}
.custom_color-24 {
  background-color: #43dede !important;
}
.custom_color-25 {
  background-color: #4390de !important;
}
.custom_color-26 {
  background-color: #4343de !important;
}
.custom_color-27 {
  background-color: #9043de !important;
}
.custom_color-28 {
  background-color: #de43de !important;
}
.custom_color-29 {
  background-color: #de4390 !important;
}
.custom_color-30 {
  background-color: #16b5b5 !important;
}
.custom_color-31 {
  background-color: #1665b5 !important;
}
.custom_color-32 {
  background-color: #1616b5 !important;
}
.custom_color-33 {
  background-color: #6516b5 !important;
}
.custom_color-34 {
  background-color: #b516b5 !important;
}
.custom_color-35 {
  background-color: #b51665 !important;
}

.custom_color-36 {
  background-color: #000000 !important;
}
.custom_color-37 {
  background-color: #262626 !important;
}
.custom_color-38 {
  background-color: #4d4d4d !important;
}
.custom_color-39 {
  background-color: #737373 !important;
}
.custom_color-40 {
  background-color: #999999 !important;
}
.custom_color-41 {
  background-color: #bfbfbf !important;
}
