.course-none { background-color: #999; }

.course-1 { background-color: #DE4343; }
.course-2 { background-color: #DE7643; }
.course-3 { background-color: #4369DE; }
.course-4 { background-color: #57B563; }
.course-5 { background-color: #43DEAF; }
.course-6 { background-color: #4390DE; }
.course-7 { background-color: #5779B5; }
.course-8 { background-color: #8157B5; }
.course-9 { background-color: #8143DE; }
.course-10 { background-color: #B55757; }
.course-11 { background-color: #B55773; }
.course-12 { background-color: #43DE4F; }
.course-14 { background-color: #DE9043; }
.course-15 { background-color: #B55C57; }
.course-16 { background-color: #43B2DE; }
.course-17 { background-color: #DE43B7; }
.course-18 { background-color: #575DB5; }
.course-20 { background-color: #57B56E; }
.course-21 { background-color: #57B567; }
.course-21A { background-color: #57B573; }
.course-21W { background-color: #57B580; }
.course-CMS { background-color: #57B58C; }
.course-21G { background-color: #57B599; }
.course-21H { background-color: #57B5A5; }
.course-21L { background-color: #57B5B2; }
.course-21M { background-color: #57ACB5; }
.course-WGS { background-color: #579FB5; }
.course-22 { background-color: #B55757; }
.course-24 { background-color: #7657B5; }
.course-CC { background-color: #4FDE43; }
.course-CSB { background-color: #579AB5; }
.course-EC { background-color: #76B557; }
.course-EM { background-color: #576EB5; }
.course-ES { background-color: #5A57B5; }
.course-HST { background-color: #5779B5; }
.course-IDS { background-color: #57B586; }
.course-MAS { background-color: #57B55A; }
.course-SCM { background-color: #57B573; }
.course-STS { background-color: #8F57B5; }
.course-SWE { background-color: #B56B57; }
.course-SP { background-color: #4343DE; }

.generic-GIR { background-color: #BF6139; }
.generic-HASS { background-color: #39BF97; }
.generic-HASS-A { background-color: #3997BF; }
.generic-HASS-H { background-color: #3946BF; }
.generic-HASS-S { background-color: #7C39BF; }
.generic-CI-H { background-color: #BF39B1; }
.generic-CI-HW { background-color: #BF3961; }
