html {
	height: 100%;
}

body {
	display: flex;
	flex-direction: row;
	margin: 0px;
	height: 100%;
}

.panel {
	height: 100%;
}

#left-panel {
	flex-basis: 200px;
	background-color: orange;
}

#center-panel {
	flex-grow: 1;
	background-color: grey;
}

#right-panel {
	flex-basis: 350px;
	background-color: aquamarine;
}

